*{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #20222a;
    color: rgba(14, 7, 4, 0.91);
    display: flex;
    justify-content: center;
    margin: 50px;
}